@import url(./font/Memphis\ River.otf);

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@font-face {
  font-family: "MemphisRiver";
  src: url("./font/Memphis.otf");
}

nav {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.links a {
  text-decoration: none;
  font-size: clamp(25px, 2vw, 70px);
  /* color: #000009a0;  */
  color: black;
  font-family: "MemphisRiver", sans-serif;
}

.logo {
  max-width: 100px;
  width: 100%;
}

.img-resp {
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.content > .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 20vh;
  max-width: 900px;
  gap: 2rem;
}
/*
.title {
  font-size: 7rem;
  font-weight: 600;
  line-height: 3rem;
  font-family: "MemphisRiver", sans-serif;
  filter: drop-shadow(0 -6mm 4mm #64647a);
} */

.container-glitch {
  margin-bottom: -1.5rem;
}

.full_name_animation {
  display: flex;
  gap: 1rem;
}

.glitch, .glow {
  color: black;
  position: relative;
  font-weight: 550;
  font-family: "MemphisRiver", sans-serif;
  font-size: 5rem;
  animation: glitch 5s 5s infinite;
}

.glitch::before, .glow::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: rgb(239, 239, 239);
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after, .glow::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background: rgb(255, 255, 255);
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  3.3333333333% {
    clip-path: inset(88px 0 13px 0);
  }
  10% {
    clip-path: inset(61px 0 33px 0);
  }
  20% {
    clip-path: inset(35px 0 5px 0);
  }
  30% {
    clip-path: inset(15px 0 50px 0);
  }
  40% {
    clip-path: inset(18px 0 57px 0);
  }
  50% {
    clip-path: inset(16px 0 81px 0);
  }
  60% {
    clip-path: inset(10px 0 88px 0);
  }
  70% {
    clip-path: inset(27px 0 69px 0);
  }
  80% {
    clip-path: inset(61px 0 32px 0);
  }
  90% {
    clip-path: inset(8px 0 52px 0);
  }
  100% {
    clip-path: inset(99px 0 1px 0);
  }
}

@keyframes noise-2 {
  0% {
    clip-path: inset(11px 0 19px 0);
  }
  10% {
    clip-path: inset(57px 0 33px 0);
  }
  20% {
    clip-path: inset(96px 0 4px 0);
  }
  30% {
    clip-path: inset(24px 0 50px 0);
  }
  40% {
    clip-path: inset(29px 0 64px 0);
  }
  50% {
    clip-path: inset(61px 0 19px 0);
  }
  60% {
    clip-path: inset(46px 0 10px 0);
  }
  70% {
    clip-path: inset(67px 0 1px 0);
  }
  80% {
    clip-path: inset(25px 0 69px 0);
  }
  90% {
    clip-path: inset(28px 0 59px 0);
  }
  100% {
    clip-path: inset(95px 0 1px 0);
  }
}

.glow {
  text-shadow: 0 0 1000px #dfbfbf;
  color: transparent;
  position: absolute;
  top: 0;
}

.text {
  font-size: 1.2rem;
  color: #000009a0;
  line-height: 2rem;
}

.highlight {
  background-color: #f4f1ee;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-family: "MemphisRiver", sans-serif;
  font-weight: 700;
  color: #000009a0;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.social {
  cursor: pointer;
  width: 40px;
  height: auto;
}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.see-more > img {
  display: inline;
}

.arrow-animation {
  width: 30px;
  height: auto;
  animation: arrow 1.5s infinite ease-out;
}

@keyframes arrow {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(20px) scale(0.75);
  }
}

/* Laptop - */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
  }

  .first,
  .second {
    max-width: 670px;
    width: 100%;
  }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .links {
    visibility: hidden;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first,
  .second {
    max-width: 481px;
    width: 100%;
  }

  .socials {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}

/* Smartphones */
@media screen and (max-width: 480px) {
  nav {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
  }

  .links {
    display: none;
  }

  .glitch {
    font-size: 2rem;
    font-weight: 600;
  }

  .text {
    font-size: 1rem;
    color: #000009a0;
    line-height: 1.8rem;
  }

  .socials {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: -20px;
  }

  .first,
  .second {
    max-width: 340px;
    width: 100%;
  }

  .social {
    cursor: pointer;
    width: 35px;
    height: auto;
  }
}
